body{
    background-color: #222233;
    
}
#searchForm{
    margin: 40px 0px 40px 0px;
}

h1{
    font-size: 80px;
    margin-top: 50px;
    text-align: center;
    color: #AACCFF;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}

a{
    color:#AACCFF;
    font-size: 30px;
    margin:10px;
    font-family: 'Zilla Slab', serif;
}

input,button{
    font-size: 20px;
    border-radius:8px;
}

#box{
    
    margin:20px;
    padding: 10px 40px 10px 40px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
}



a:hover{
    color: #C5A8FF;
}


#return{
    margin: 10px 0px 20px 0px;
    
}